body { 
    font-family: Arial, sans-serif; 
}

.container { 
    width: 300px; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #b3ff00; 
    border-radius: 5px; 
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.1); 
}

.form-group { 
    margin-bottom: 15px; 
}

.form-group label { 
    display: block; 
    margin-bottom: 5px; 
}

.form-group input, 
.form-group select { 
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
    border: 1px solid #000000; 
    border-radius: 4px; 
}

button { 
    background-color: #999999; 
    color: rgb(0, 0, 0); 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

button:hover { 
    background-color: #00ff37; 
}

.result { 
    margin-top: 20px; 
    padding: 10px; 
    background-color: #eeff00; 
    border: 1px solid #000000; 
    border-radius: 5px; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    animation: fadeIn 1s ease-in;
}

@media (max-width: 600px) {
    .container {
        width: 90%; 
    }

    button {
        width: 100%; 
    }
}
.consultation-options {
    margin-top: 20px;
    text-align: center; /* Membuat tombol terpusat */
}

.consultation-options button {
    background-color: #0595f5; /* Warna biru untuk tombol */
    color: rgb(2, 3, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px; /* Jarak antara tombol */
    transition: background-color 0.3s; /* Efek transisi warna latar belakang */
}

.consultation-options button:hover {
    background-color: #0056b3; /* Warna biru gelap saat hover */
}

